<form method="POST" action="/prehistoric_creatures">
    <label for="creaturesType">Type</label>
    <input id="creaturesType" type="text" name="type">
  
    <label for="creaturesImage">image</label>
    <input id="creaturesImage" type="text" name="image">
  
    <input type="submit">
  </form>